---
layout: base
---
<!--
navbar
-->
<main id="content" class="pb-5 pt-2 container">
    <div class="row text-end mb-4">
        {% if page.lang == "en" %}
        <a class="fs-6" href="/">العربية</a>
        {% else %}
        <a class="fs-6" href="/en">English</a>
        {% endif %}
    </div>
    <div class="row mt-1">
        <div class="col-md-6 col-sm-12 mt-1">
            <div class="rounded-2 p-3 m-1 bg-secondary-subtle h-100 d-flex flex-column">
                <h2>
                    {% if page.lang == "en" %}
                    Muaath Alqarni
                    {% else %}
                    معاذ القرني
                    {% endif %}
                </h2>
                <h5>
                    <ul>
                    {% if page.lang == "en" %}
                        <li>Saudi Informatics Team member</li>
                        <li>Web developer</li>
                        {% else %}
                        <li>عضو المنتخب السعودي للمعلوماتية</li>
                        <li>مطور ويب</li>
                        {% endif %}
                    </ul>
                </h5>
                <div class="d-flex justify-content-center mt-auto">
                    <div class="btn-group btn-group-lg" role="group" aria-label="Accounts">
                        <a href="https://github.com/Muaath5" type="button" class="btn btn-dark"><i class="bi-github"></i></a>
                        <a href="https://t.me/Muaath_5" type="button" class="btn btn-outline-primary"><i class="bi-telegram"></i></a>
                        <a href="mailto:me@muaath.dev" type="button" class="btn btn-secondary"><i class="bi-envelope"></i></a>
                        <a href="https://x.com/Muaath_dev" type="button" class="btn btn-dark"><i class="bi-twitter-x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 mt-1">
            <div class="rounded-2 p-3 m-1 bg-success-subtle h-100 d-flex flex-column">
                <h2>
                    {% if page.lang == "en" %}
                    Blog
                    {% else %}
                    المدونة
                    {% endif %}
                </h2>
                <h5>
                    {% if page.lang == "en" %}
                    Random articles and tutorials for different topics
                    {% else %}
                    مقالات عشوائية وشروحات لمواضيع مختلفة
                    {% endif %}
                </h5>
                <h6 class="text-body-secondary">
                    {% if page.lang == "en" %}
                    Latest blog:
                    {% else %}
                    آخر تدوين:
                    {% endif %}
                    {{ site.posts[0].date | date: "%Y/%m/%d" }}
                </h6>
                <div class="d-flex justify-content-end mt-auto">
                    
                    <a href="https://muaath.dev/blog/" type="button" class="btn btn-primary"><i class="bi-link-45deg"></i>
                        {% if page.lang == "en" %}
                        Welcome
                        {% else %}
                        حياك
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr><hr>
    <div class="row" id="projects">
        <h3>
            {% if page.lang == "en" %}
            Projects
            {% else %}
            المشاريع
            {% endif %}
        </h3>
        {% for i in (1..page.projects.count) %}
        <div class="col-md-6 col-sm-12">
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ page.projects[i][page.lang].name }}
                        {% if page.projects[i][page.lang].status %}
                        <span class="badge bg-{{page.projects[i].status_color  }}">
                            {{ page.projects[i][page.lang].status }}
                        </span>
                        {% endif %}
                    </h5>
                    <p class="card-text"><small class="text-body-secondary">{{ page.projects[i].start_date }}</small></p>
                    <p class="card-text">{{ page.projects[i][page.lang].description }}</p>
                    <div class="btn-group" role="group" aria-label="Links">
                        {% if page.projects[i].links.github %}
                        <a href="https://github.com/{{ page.projects[i].links.github }}" type="button" class="btn btn-dark"><i class="bi-github"></i></a>
                        {% endif %}
                        {% if page.projects[i].links.telegram %}
                            <a href="https://t.me/{{ page.projects[i].links.telegram }}" type="button" class="btn btn-outline-primary"><i class="bi-telegram"></i></a>
                        {% endif %}
                        {% if page.projects[i].links.x %}
                            <a href="https://x.com/{{ page.projects[i].links.x }}" type="button" class="btn btn-dark"><i class="bi-twitter-x"></i></a>
                        {% endif %}
                        {% if page.projects[i].links.url %}
                            <a href="{{ page.projects[i].links.url }}" type="button" class="btn btn-outline-primary"><i class="bi-link-45deg"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
